<form method="post" action="/firm/new">
    <div>
        <input name="firm_name" placeholder="Firm Name">
        <input name="game" placeholder="Industry">
    </div>

    <div>
        <input type="checkbox" id="new_game" name="new_game">
        <label for="new_game">Is this a new Industry?</label>
    </div>

    <div>
        <input type="checkbox" id="new_gm" name="new_gm">
        <label for="new_gm">Will you be administiring the Inustry?</label>
    </div>

    <input type="submit" value="Start A Firm">
</form>